<div class="flex flex-col [&>p]:mb-4 [&>p>strong]:text-purple-400 flex-1">
  <p>
    <strong>Computer Engineer</strong> with experience in the development, maintenance, and improvement of system integration solutions.
  </p>

  <p>
    Throughout my career, I have worked with <strong>APIs</strong>, <strong>databases</strong>, <strong>automation tools</strong>, and <strong>security protocols</strong>, developing scalable and reliable solutions for international teams in sectors such as <strong>finance</strong> and <strong>telecommunications</strong>.
  </p>

  <p>
    I am motivated by new challenges that allow me to deepen my knowledge in both <strong>technical and functional areas</strong>, guided by best practices, a continuous improvement mindset, and a strong focus on <strong>quality and optimization</strong>.
  </p>

  <p>
    Outside of my professional work, I maintain an active interest in <strong>Artificial Intelligence</strong> and its practical applications, as well as in finances, particularly in <strong>personal finance</strong> and <strong>investment</strong>. I regularly enjoy researching, learning, and staying up to date in these areas.
  </p>
</div>