---
import ContactIcon from './icons/Contact.astro'
---

<h2 class="text-2xl md:text-3xl font-semibold mt-8 mb-6 flex gap-x-3 items-center">
  <ContactIcon class="size-8" />
  About me
</h2>

<section class="flex flex-col md:flex-row gap-x-4">
  <div class="[&>p]:mb-4 [&>p>strong]:text-purple-400">
    <p>
      Since I finished my degree in <strong>Computer Engineering</strong> till now, I have not stopped studying and upgrading my developing skills. 
    </p>
  
    <p>
      In my first job, I discovered the world of <strong>APIs</strong> and how they help building <strong>efficient and scalable solutions</strong>, enabling communications between the different components in the backend.
    </p>
  
    <p>
      Thanks to this position, I had the opportunity to collaborate with <strong>international teams</strong>, gaining valuable insights into <strong>different working styles</strong> and modeling a <strong>global perspective</strong> on technologies.
    </p>
  
    <p>
      Nowadays, I am actively <strong>seeking challenges</strong> to enhance my skills, fueled by a <strong>strong motivation to continue learning</strong> and diving deeper into the fascinating realm of development.
    </p>
  </div>
</section>
