<div class="flex flex-col [&>p]:mb-4 [&>p>strong]:text-purple-400 flex-1">
  <p>
    Desde que terminé mi carrera en <strong>Ingeniería Informática</strong>, he
    continuado estudiando y mejorando mis habilidades en el desarrollo de
    software.
  </p>

  <p>
    En mi primer trabajo, descubrí el mundo de las <strong>APIs</strong> y cómo estas
    ayudan a crear <strong>soluciones eficientes y escalables</strong>,
    permitiendo la comunicación entre los diferentes componentes del backend.
  </p>

  <p>
    Gracias a esta experiencia, tuve la oportunidad de colaborar con <strong
      >equipos internacionales</strong
    >, obteniendo numerosas nociones acerca de los <strong
      >diferentes estilos de trabajo</strong
    > y modelando una <strong>perspectiva global</strong> sobre diferentes tecnologías.
  </p>

  <p>
    Actualmente, busco <strong>diferentes desafíos</strong> de manera activa para
    seguir mejorando, impulsado por una <strong
      >fuerte motivación para aprender</strong
    > y profundizar en el fascinante mundo del desarrollo de software.
  </p>
</div>
