<div class="flex flex-col [&>p]:mb-4 [&>p>strong]:text-purple-400 flex-1">
  <p>
  <strong>Ingeniero Informático</strong> con experiencia en el desarrollo, mantenimiento y mejora de soluciones orientadas a la integración de sistemas.
  </p>

  <p>
    A lo largo de mi trayectoria, he trabajado con <strong>APIs</strong>, <strong>bases de datos</strong>, <strong>herramientas de automatización</strong> y <strong>protocolos de seguridad</strong>, desarrollando soluciones escalables y fiables para equipos internacionales en sectores como el <strong>financiero</strong> y las <strong>telecomunicaciones</strong>.
  </p>

  <p>
    Me motiva asumir nuevos retos que me permitan profundizar en aspectos tanto <strong>técnicos como funcionales</strong>, guiado por buenas prácticas, una mentalidad de mejora continua y un fuerte enfoque en la <strong>calidad</strong> y la <strong>optimización</strong>.
  </p>

  <p>
    Fuera del ámbito estrictamente laboral, mantengo un interés activo por la <strong>Inteligencia Artificial</strong> y sus aplicaciones prácticas, así como por el ámbito financiero, especialmente en lo relativo a las <strong>finanzas personales</strong> y la <strong>inversión</strong>. Dedico parte de mi tiempo a investigar, formarme y mantenerme actualizado en estas áreas.
  </p>
</div>
