---
import ContactIcon from './icons/Contact.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/Github.astro'
import Social from '../components/Social.astro'
import MailIcon from '../components/icons/Mail.astro'
---
<section class="">
  <h2 class="text-2xl md:text-3xl font-semibold mt-8 mb-6 flex gap-x-3 items-center">
    <ContactIcon class="size-8"/>
    Contact
  </h2>
  
  <nav class="flex flex-wrap gap-4 mt-6 justify-center">
    <Social href="https://linkedin.com/in/daniel-velerdas-sedano">
      <LinkedInIcon class="size-4 md:size-6" />
      LinkedIn
    </Social>
    <Social href="https://github.com/daniveler">
      <GitHubIcon  class="size-4 md:size-6" />
      Github
    </Social>
    <Social href="mailto:daniel01velerdas@gmail.com">
      <MailIcon  class="size-4 md:size-6" />
      daniel01velerdas@gmail.com
    </Social>
  </nav>
</section>
