---
import ExperienceItem from "./ExperienceItem.astro"
import BriefcaseIcon from "./icons/Briefcase.astro"

const EXPERIENCE = [
  {
    date: 'September 2022 - Present',
    title: 'API Engineer in uXcale',
    description: '- Development of an introductory training program for APIs.\n- Design and specification of internal APIs for employee and activity management.\n- Documentation on numerous API concepts and various technologies, such as OpenAPI, Apigee, Mulesoft, gRPC, AsyncAPI, and GraphQL, among others.\n- Implementation of APIs using different environments such as SpringBoot, NodeJS or GraphQL.\n- Conducting tests and testing with Junit 5 and Mockito.\n- Utilization of API clients such as Postman, Advanced Rest Client, or Insomnia.',
  }, 
  {
    date: 'January 2022 - Present',
    title: 'API OB Integration Engineer in Telefónica',
    description: '- Project integration between Telefónica Kernel Global and Vivo Brazil team.\n- Involvement in the analysis and design processes of 4P APIs.\n- Significant contributions to different phases of the API lifecycle.\n- Formal documentation of all processes undertaken, as well as test case generation.',
  },
  {
    date: 'February 2022 - May 2022',
    title: 'Mobile Android and iOS Developer in Pixel Innova',
    description: 'Development of several applications, both on Android and iOS, highlighting the implementation of features such as reading and interpreting QR codes, as well as handling data between the applications and a WebService.',
  },
]
---
<h2 class="text-2xl md:text-3xl font-semibold mb-6 mt-8 flex gap-x-3 items-center">
  <BriefcaseIcon class="size-8" />
  Professional Experience
</h2>

<ol class="relative border-s border-gray-200 ml-4">    
  {
    EXPERIENCE.map(experience =>(
      <li class="mb-10 ms-4 whitespace-pre-line">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>

