---
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

let href = ''

if(lang === 'en') {
  href = '/es/'
}
else {
  href = '/en/'
}
---

<footer class="shadow m-4 bg-black/20 backdrop-blur-lg">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Daniel Velerdas Sedano.</span>
  <ul 
    class="flex flex-wrap items-center mt-3 text-sm font-medium 
      text-gray-500 dark:text-gray-400 sm:mt-0">
      <li><a href="#top" class="hover:underline me-4 md:me-6">{t('nav.home')}</a></li>
      <li><a href="#about" class="hover:underline me-4 md:me-6">{t('nav.about')}</a></li>
      <li><a href="#socialmedia" class="hover:underline me-4 md:me-6">{t('nav.social-media')}</a></li>
      <li><a href="#experience" class="hover:underline me-4 md:me-6">{t('nav.experience')}</a></li>
      <li><a href="#projects" class="hover:underline me-4 md:me-6">{t('nav.projects')}</a></li>
      <li><a href=`${href}` class="hover:underline me-4 md:me-6">{t('nav.language')}</a></li>
      <li><a href=`/cv-${lang}.pdf" download="CV Daniel Velerdas Sedano (${lang.toUpperCase()}).pdf`
        class="hover:underline me-4 md:me-6">
        {t('nav.download-cv')}</a>
      </li>
  </ul>
  </div>
</footer>