<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
  <img 
    class="rounded-full size-12" 
    src="https://media.licdn.com/dms/image/D4D03AQES7Moas9DG2A/profile-displayphoto-shrink_400_400/0/1686075196284?e=2147483647&v=beta&t=g16OQTycgzovcznyWA6IvyJrvEso3K-9JAINSxCDurk" 
    alt="Daniel photo" 
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>