---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Home from '../components/Home.astro'
import Contact from '../components/Contact.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
	title="Daniel Velerdas Sedano - API Engineer and Full-Stack Developer"
	description='I am Daniel Velerdas Sedano, graduated in Computer Engineer with experience with API Engineering and Full-Stack Development'
	
>
	<main class="px-8">
		<Home />

		<SectionContainer id="experience">
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<Projects />
		</SectionContainer>

		<SectionContainer id="contact">
			<Contact />
		</SectionContainer>
		
	</main>
</Layout>


