---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/Github.astro'
import Social from '../components/Social.astro'
import MailIcon from '../components/icons/Mail.astro'
import CodeIcon from '../components/icons/Code.astro'
import Experience from '../components/Experience.astro';
---

<Layout 
	title="Daniel Velerdas Sedano - API Engineer and Full-Stack Developer"
	description='I am Daniel Velerdas Sedano, graduated in Computer Engineer with experience with API Engineering and Full-Stack Development'
	
>
	<main class="px-8">
		<SectionContainer class="py-44 pb-8">
			<h1 class="flex justify-center text-white text-3xl md:text-4xl lg:text-5xl font-bold 
				flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, I'm Daniel Velerdas Sedano
			</h1>
			<h2 class="flex justify-center text-2xl lg:text-3xl">
				<span class="text-purple-200/90">
					API Engineer, Full-Stack and Mobile Developer
				</span>
			</h2>
		</SectionContainer>

		<SectionContainer id="contact" class="flex justify-center gap-x-4 pb-8">
			<nav class="flex gap-4 mt-8 flex-wrap">
				<Social href="https://linkedin.com/in/daniel-velerdas-sedano">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</Social>
				<Social href="https://github.com/daniveler">
					<GitHubIcon  class="size-4 md:size-6" />
					Github
				</Social>
				<Social href="mailto:daniel01velerdas@gmail.com">
					<MailIcon  class="size-4 md:size-6" />
					daniel01velerdas@gmail.com
				</Social>
			</nav>
			
		</SectionContainer>

		<SectionContainer id="experience">
			<Experience />
		</SectionContainer>

		<SectionContainer>
			<CodeIcon ></CodeIcon>
		</SectionContainer>
		
	</main>
</Layout>


